body {
    background-color: gray;
}

/****************** Header **************/

.header {
    background-color: black;
    color: #fff;
}

.logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
    color: orange;
}

/****************** Game **************/

.game-head {
    height: 150px;
    color: #fff;
}

#cookie {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    margin: 20px;
}

.upgrade {
    margin-bottom: 50px
}

.upgrade-stats {
    background-color: red;
    margin: 10px;
}

.upgrade-b {
    background-color: blue;
    margin: 20px;
}

/****************** Footer **************/

.footer {
    height: 200px;
    background-color: black;
}


/****************** How to Play **************/

.how-to {
    margin-top: 60px;
}

.how-to-header {
    text-decoration: underline;
}

.how-to-body {
    margin-top: 25px
}

/****************** Top Scores **************/

.top-score {
    margin-top: 60px;
}

.scores-head {
    margin-bottom: 30px;
    text-decoration: underline;
}

.scores-body {
    margin-bottom: 60px;
}

.topitem {
    margin: 20px;
}