body {
    background-color: gray;
}

/****************** Header **************/

.header {
    background-color: black;
    color: #fff;
    height: 200px;
}

.logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
    color: orange;
}

/****************** Game **************/

.game-head {
    height: 150px;
    color: #fff;
}

#cookie {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    margin:  auto 20px;
    transform: scale(1, 1);
}

.cookie-box {
    background-image: url(../images/cookieBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    border: 5px solid black;
    margin: auto;
}

.upgrade {
    background-image: url(../images/storeCupboard.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    border: 5px solid black;
}

.upgrade-buttons {
    background-image: url(../images/groceryStore.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    border: 5px solid black;
    margin-right: 10px
}

.upgrade-stats {
    background-color: #FF7F3E;
    margin: 10px auto;
    border-radius: 30px;
    border: solid 2px black;
}

.upgrade-b {
    background-color: #A9A9A9;
    border-radius: 30px;
    border: solid 2px black;
    margin: 10px auto;
}

.reset-button {
    background-color: #FFDA78;
    border-radius: 30px;
    border: solid 2px black;
    margin: 50px auto;
}

.upgrades {
    margin: 50px 0;
}
/****************** Footer **************/

.footer {
    height: 200px;
    background-color: black;
}


/****************** How to Play **************/

.how-to {
    margin-top: 60px;
}

.how-to-header {
    text-decoration: underline;
}

.how-to-body {
    margin-top: 25px
}

/****************** Top Scores **************/

.top-score {
    margin-top: 60px;
}

.scores-head {
    margin-bottom: 30px;
    text-decoration: underline;
}

.scores-body {
    margin-bottom: 60px;
}

.topitem {
    margin: 20px;
}
  
/****************** Achievements **************/



.achievement {
    height: 150px;
    margin: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.achievement-body h5 {
    border: 1px solid black;
    background-color: #7AB2B2;
    border-radius: 10px;
    padding: 5px;
}

.a1not {
    background-image: url(../images/a1NotAchieved.png);
}

.a1achieve {
    background-image: url(../images/a1Achieved.png);
}

.a2not {
    background-image: url(../images/a2NotAchieved.png);
}

.a2achieve {
    background-image: url(../images/a2Achieved.png);
}

.a3not {
    background-image: url(../images/a3NotAchieved.png);
}

.a3achieve {
    background-image: url(../images/a3Achieved.png);
}
.a4not {
    background-image: url(../images/a4NotAchieved.png);
}

.a4achieve {
    background-image: url(../images/a4Achieved.png);
}
.a5not {
    background-image: url(../images/a5NotAchieved.png);
}

.a5achieve {
    background-image: url(../images/a5Achieved.png);
}
.a6not {
    background-image: url(../images/a6NotAchieved.png);
}

.a6achieve {
    background-image: url(../images/a6Achieved.png);
}
.a7not {
    background-image: url(../images/a7NotAchieved.png);
}

.a7achieve {
    background-image: url(../images/a7Achieved.png);
}
.a8not {
    background-image: url(../images/a8NotAchieved.png);
}

.a8achieve {
    background-image: url(../images/a8Achieved.png);
}
.a9not {
    background-image: url(../images/a9NotAchieved.png);
}

.a9achieve {
    background-image: url(../images/a9Achieved.png);
}
.a10not {
    background-image: url(../images/a10NotAchieved.png);
}

.a10achieve {
    background-image: url(../images/a10Achieved.png);
}
.a11not {
    background-image: url(../images/a11NotAchieved.png);
}

.a11achieve {
    background-image: url(../images/a11Achieved.png);
}
.a12not {
    background-image: url(../images/a12NotAchieved.png);
}

.a12achieve {
    background-image: url(../images/a12Achieved.png);
}
.a13not {
    background-image: url(../images/a13NotAchieved.png);
}

.a13achieve {
    background-image: url(../images/a13Achieved.png);
}
.a14not {
    background-image: url(../images/a14NotAchieved.png);
}

.a14achieve {
    background-image: url(../images/a14Achieved.png);
}

.a15not {
    background-image: url(../images/a15NotAchieved.png);
}

.a15achieve {
    background-image: url(../images/a15Achieved.png);
}

.a16not {
    background-image: url(../images/a16NotAchieved.png);
}

.a16achieve {
    background-image: url(../images/a16Achieved.png);
}

.a17not {
    background-image: url(../images/a17NotAchieved.png);
}

.a17achieve {
    background-image: url(../images/a17Achieved.png);
}

.a18not {
    background-image: url(../images/a18NotAchieved.png);
}

.a18achieve {
    background-image: url(../images/a18Achieved.png);
}

.a19not {
    background-image: url(../images/a19NotAchieved.png);
}

.a19achieve {
    background-image: url(../images/a19Achieved.png);
}

.a20not {
    background-image: url(../images/a20NotAchieved.png);
}

.a20achieve {
    background-image: url(../images/a20Achieved.png);
}


