body {
    background-color: gray;
}

/****************** Header **************/

.header {
    background-color: black;
    color: #fff;
}

.logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
    color: orange;
}

/****************** Game **************/

.game-head {
    height: 150px;
    color: #fff;
}

#cookie {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    margin:  auto 20px;
    transform: scale(1, 1);
}

.cookie-box {
    background-image: url(../images/cookieBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    border: 5px solid black;
    margin: auto;
}

.upgrade {
    background-image: url(../images/storeCupboard.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    border: 5px solid black;
}

.upgrade-buttons {
    background-image: url(../images/groceryStore.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    border: 5px solid black;
    margin-right: 10px
}

.upgrade-stats {
    background-color: #FF7F3E;
    margin: 10px auto;
    border-radius: 30px;
    border: solid 2px black;
}

.upgrade-b {
    background-color: #A9A9A9;
    border-radius: 30px;
    border: solid 2px black;
    margin: 10px auto;
}

.reset-button {
    background-color: #FFDA78;
    border-radius: 30px;
    border: solid 2px black;
    margin: 50px auto;
}

.upgrades {
    margin: 50px 0;
}
/****************** Footer **************/

.footer {
    height: 200px;
    background-color: black;
}


/****************** How to Play **************/

.how-to {
    margin-top: 60px;
}

.how-to-header {
    text-decoration: underline;
}

.how-to-body {
    margin-top: 25px
}

/****************** Top Scores **************/

.top-score {
    margin-top: 60px;
}

.scores-head {
    margin-bottom: 30px;
    text-decoration: underline;
}

.scores-body {
    margin-bottom: 60px;
}

.topitem {
    margin: 20px;
}
  
